<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="currentSelectedBorderThickness" value="0" />
    <add key="ImageDPIfactor" value="150" />
    <add key="ZoomScalefactor" value="1.5" />
  </appSettings>
</configuration>