<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Words" version="22.10.0" targetFramework="net461" />
  <package id="FreeSpire.PDFViewer" version="7.6.0" targetFramework="net461" />
  <package id="GrapeCity.Documents.Imaging" version="5.2.0.803" targetFramework="net461" />
  <package id="GrapeCity.Documents.Pdf" version="5.2.0.803" targetFramework="net461" />
  <package id="Microsoft.Web.WebView2" version="1.0.1370.28" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.2" targetFramework="net461" />
  <package id="Select.Pdf" version="22.1.0" targetFramework="net461" />
  <package id="SharpVectors.Wpf" version="1.8.1" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.0" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>